<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
          <a routerLink="/login/signIn" class="nav-link" routerLinkActive="active">Sign in</a>
        </li>
        <li class="nav-item">
          <a routerLink="/login/signUp" class="nav-link" routerLinkActive="active">Sign up</a>
        </li>
      </ul>
      <hr>
    </div>
  </div>

  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
