<div class="row" *ngIf="!isEditable else editable">
  <div class="col-9">
    <div class="row" (click)="explorer()">
      <div class="col-2">
        {{directory.id}}
      </div>
      <div class="col-5">
        {{directory.name}}
      </div>
      <div class="col-3">
        {{directory.date}}
      </div>
      <div class="col-2">
        {{directory.size}}
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="row">
      <div class="col">
        <button
          class="btn btn-primary"
          (click)="onEdit()"
        >Edit
        </button>
      </div>

      <div class="col">
        <button
          class="btn btn-danger"
          (click)="onDelete()"
        >Delete
        </button>
      </div>
    </div>
  </div>
</div>

  <!-- Form terk edildiğinde uyarı vermesi için candeactivate kullan -->
<ng-template #editable>
 <div class="row">
    <div class="col-9">
      <div class="row">
        <div class="col-2">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="id"
            name="id"
            [disabled]="true">
        </div>
        <div class="col-5">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="name"
            name="name"
            [disabled]="false">
        </div>
        <div class="col-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="date"
            name="date"
            [disabled]="true">
        </div>
        <div class="col-2">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="size"
            name="size"
            [disabled]="true">
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="row">
        <div class="col">
          <button
            class="btn btn-primary"
            (click)="onSave()"
          >Save
          </button>
        </div>

        <div class="col">
          <button
            class="btn btn-danger"
            (click)="onCancel()"
          >Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<!--

<div *ngFor="let element of elements">
  <div *ngIf="isEditable else editable">
    <div class="row">
      <div class="col-9">
        Bundan sonrası
        <div class="col-4">
          {{element.name}}
        </div>
        <div class="col-3">
          {{element.id}}
        </div>
        <div class="col-3">
          {{element.date}}
        </div>
        <div class="col-2">
          {{element.fileCount}}
        </div>
        Bundan öncesi
      </div>
    </div>
    <div class="col-sm-9" (click)="explorer()">

    </div>
    <div class="col-sm-3">
      <div class="col-sm-6">
        <button class="btn btn-primary" (click)="onEdit()">Edit</button>
      </div>
      <div class="col-sm-6">
        <button class="btn btn-danger" (click)="onDelete()">Delete</button>
      </div>
    </div>
  </div>
</div>




<ng-template #editable>
  <div class="row">
    <div class="col-sm-9">
      <div class="col-sm-4">
        <input type="text" class="form-control" [(ngModel)]="name">
      </div>
      <div class="col-sm-3">
        <input type="text" class="form-control" [(ngModel)]="id">
      </div>
      <div class="col-sm-3">
        <input type="text" class="form-control" [(ngModel)]="date">
      </div>
      <div class="col-sm-2">
        <input type="text" class="form-control" [(ngModel)]="fileCount">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="col-sm-6">
        <button class="btn btn-primary" (click)="onSave()">Save</button>
      </div>
      <div class="col-sm-6">
        <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </div>
</ng-template>
-->
