.logo {
  display: inline;
  background-color: #033fc7;
  padding: 20px 144px;
  color: white;
  border-radius: 20px;
}

.container {
  margin-top: 40px;
}

.signOut {
  padding: 12px 22px;
  margin-right: 15px;
  margin-top: 8px;
  background-color: #e71111;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}
