<div class="d-flex flex-row justify-content-center">
  <form (ngSubmit)="onSignUpSubmit()" #signUpForm="ngForm">
    <div class="form-group">
      <label for="server-name">Server Name</label>
      <input
        type="text"
        class="form-control"
        id="server-name"
        name="serverName"
        ngModel
        #name="ngModel"
        required>
      <span class="text-danger" *ngIf="name.touched && name.invalid">server name is required</span>
    </div>
    <div class="from-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        ngModel #pass="ngModel"
        required>
      <span class="text-danger" *ngIf="pass.touched && pass.invalid">password is required</span>
    </div>
    <div class="from-group">
      <label for="password-again">Password Again</label>
      <input
        type="password"
        class="form-control"
        id="password-again"
        name="passwordAgain"
        ngModel #passAgain="ngModel"
        required>
      <span class="text-danger" *ngIf="passAgain.touched && passAgain.invalid">password is required</span>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="signUpForm.invalid">Sign Up</button>
  </form>
</div>
