<div class="container">
  <div class="filter-content">
    <div class="row">
      <div class="form-group col-md-3">
        <label for="search-box">Search</label>
        <input type="search" class="form-control" id="search-box" [(ngModel)]="searchText"
               (search)="search()">
      </div>
    </div>
  </div>

  <div class="path-wrapper">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb"> <!-- use *ngFor with pathArray -->
        <li class="breadcrumb-item"><a href="#">ServerName</a></li>
        <li class="breadcrumb-item"><a href="#">Directory</a></li>
        <li class="breadcrumb-item active" aria-current="page">AnotherDirectory</li>
      </ol>
    </nav>
  </div>

</div>
<div class="container">
  <div class="row">
    <div class="col-9">
      <div class="row">
        <div class="col-2" (click)="sort('id')">
          ID
        </div>
        <div class="col-5" (click)="sort('name')">
          Name
        </div>
        <div class="col-3" (click)="sort('date')">
          Date
        </div>
        <div class="col-2"(click)="sort('size')">
          Size
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="row">
        <div class="col">
          Edit
        </div>
        <div class="col">
          Delete
        </div>
      </div>
    </div>
  </div>

  <app-directory
    *ngFor="let element of elements; let i = index;"
    [directory]="element"
    [isEditable]="element === directoryService.editableDirectory"></app-directory>

</div>
